body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    background: #003366; /* 深蓝色 */
    color: white;
    padding: 10px 0; /* 调整顶部和底部的内边距 */
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* 新增导航栏样式以控制高度 */
nav {
    line-height: 1.5; /* 调整导航栏的行高，以控制高度 */
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
}
